{% extends 'base.jinja2' %}

{% block title %}{{_('Message form')}}{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p() }}
        <button class="rounded btn btn-primary" type='submit'>send</button>
    </form>
{% endblock content %}    